.clientCard
{
    display: grid;
    grid-template-columns: 50% 50%;

    height: 10%;
    width: 90%;

    background-color: rgb(230, 230, 230);
    margin: 1vw auto;
}
.clientCard div
{
    text-align: center;
    padding: 10px 10px;
}

h1
{
    text-align: center;
}