.grid
{
    height:100%;
    width:100%;
    background-color: lightblue;

    display:grid;
    position: relative;
    grid-template-columns: 50% 50%;
}

app-login-form
{
    height: 50%;
    width: 50%;

    margin: auto auto;
}