<div class = "grid">

    <!-- Client Cards -->
    <div class="cardContainer">
      <div class="clientCard" *ngFor="let customer of customers" (click)="selectClient(customer)">
        <h2>{{customer.Name}}</h2>
        <p>Customer ID: {{customer.ID}}</p>
      </div>
    </div>
  
    <!-- Area for client details. -->
    <div class="clientDetails" *ngIf="currentCustomer">
      <h1>Customer Details</h1>
      <label>Customer ID: {{currentCustomer.ID}}</label><br>
      <label>Name: </label><input type="text" [(ngModel)]="currentCustomer.Name"><br><br>
      <label>Age: </label><input type="text" [(ngModel)]="currentCustomer.Age"><br><br>
      <label>Race: </label><input type="text" [(ngModel)]="currentCustomer.Race"><br><br>
      <label>Gender: </label><input type="text" [(ngModel)]="currentCustomer.Gender"><br><br>
      <label>Language: </label><input type="text" [(ngModel)]="currentCustomer.Language"><br><br><br>
      <button>Save Changes</button>

      <h1>Assets Information</h1>
      <label>Asset ID: {{asset.ID}}</label><br>
      <label>Deposit: </label><input type="text" [(ngModel)]="asset.Deposit"><br><br>
      <label>Credit Score: </label><input type="text" [(ngModel)]="asset.CreditScore"><br><br>
      <label>Savings: </label><input type="text" [(ngModel)]="asset.Savings"><br><br>
      <label>Risk Level: </label><input type="text" [(ngModel)]="asset.RiskLevel"><br><br>
      <label>Collateral Value: </label><input type="text" [(ngModel)]="asset.CollateralValue"><br><br>
      <label>Investment length in days: </label><input type="text" [(ngModel)]="asset.InvestmentLengthDays"><br><br>
      <label>Salary: </label><input type="text" [(ngModel)]="asset.Salary"><br><br>
      <label>Profession: </label><input type="text" [(ngModel)]="asset.Profession"><br><br><br>
      <button>Save Changes</button>
    </div>

    
  
  </div>
  