.grid
{
    display: grid;
    grid-template-columns: 15% 85%;

}

.clientDetails
{
    text-align: center;
    padding: 0 2vw;
    margin: 0 auto;
}
.clientDetails div
{
    margin: 0 2vw;
}
.clientCard
{
    background-color: black;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;

    border-bottom: 1px solid white;
    color:white;
}
.cardContainer
{
    margin:2vw 0;
}
.clientCard h2, .clientCard p
{
    margin: 0 0;
}